<div class="whom__row">
    <div class="whom__container">
        <div class="whom__content">
            <div class="whom__block">
                <div class="whom__text">
                    <h3>MasterShot was created for:</h3>
                    <ul>
                        <li><img src="images/Line.svg" alt=""> Directors</li>
                        <li><img src="images/Line.svg" alt=""> Producers</li>
                        <li><img src="images/Line.svg" alt=""> Cinematographers</li>
                        <li><img src="images/Line.svg" alt=""> Content creators</li>
                    </ul>
                    <button class="whom__button"><a href="#price">Get started for free</a></button>
                </div>
                <div class="whom__photo"><img src="images/camera.png" alt="camera"></div>
            </div>
        </div>
    </div>
</div>