<div class="main">
    <div class="main__container">
        {% include 'blocks/main/blocks/demo/demo.njk' -%}
        {% include 'blocks/main/blocks/solution/solution.njk' -%}
        {% include 'blocks/main/blocks/whom/whom.njk' -%}
        {% include 'blocks/main/blocks/price/price.njk' -%}
        {% include 'blocks/main/blocks/stream/stream.njk' -%}
    </div>
</div>