<div class="demo__row">
    <div class="demo__content">
        <div class="demo__video">
            <div class="demo__video-container"></div>
        </div>
        <div class="demo__items">
            <div class="demo__items_title">
                <h1>Produce Successful Projects</h1>
            </div>
            <div class="demo__items_text">Simple, reliable, easy to use, available for anyone</div>
            <div class="demo__items_button">
                <button class="demo__button"><a href="#price">Get started for free</a></button>
            </div>
        </div>
    </div>
</div>