<footer class="footer">
  <div class="footer__row">
    <div class="footer__container">
        <div class="footer__text">
          <ul class="footer__list">
            <li>Pricing & Plans</li>
            <li>Tutorials</li>
            <li>Blog</li>
            <li>Support</li>
            <li>Terms</li>
            <li>Privacy</li>
          </ul>
        </div>
    </div>
  </div>
</footer>
