<footer class="footer">
    <div class="footer__container">
        <div class="footer__row">
            <div class="footer__logo">
                {% include 'blocks/footer/blocks/copyright/copyright.njk' %}
            </div>
        </div>
    </div>
</footer>
