.footer {
    padding-top: 15px;
    padding-bottom: 15px;

    &__container {
        @extend .container;
    }

    &__row {
        @extend .row;

        justify-content: center;
    }

    &__copyright {
        @extend .col-auto;
    }
}
