<header class="header">
  <div class="header__container">
    <div class="header__row">
      <div class="header__logo">
        {% include 'blocks/header/blocks/logo/logo.njk' -%}
      </div>
      <div class="header__items">
        <ul>
          <li><a href="">Pricing & Plans</a></li>
          <li><a href="">Tutorials</a></li>
          <li><a href="">Blog</a></li>
        </ul>
        <div class="header__item">
          <a href="https://app.mastershot.io/auth/login">Log In</a>
          <button class="header__button"><a href="#price">Get started for free</a></button>
        </div>
      </div>
    </div>
  </div>
</header>
