<header class="header">
    <div class="header__container">
        <div class="header__row">
            <div class="header__logo">
                {% include 'blocks/header/blocks/logo/logo.njk' -%}
            </div>
        </div>
    </div>
</header>
