%transition {
    transition-timing-function: var(--transition-timing-function-base);
    transition-duration: var(--transition-duration-base);

    @media screen and (prefers-reduced-motion: reduce) {
        transition: none;
    }
}
