{#- Chrome, Firefox OS and Opera -#}
<meta name="theme-color" content="{{ themeColor }}">
{#- Windows Phone -#}
<meta name="msapplication-navbutton-color" content="{{ themeColor }}">
{#- iOS Safari -#}
<meta name="apple-mobile-web-app-status-bar-style" content="{{ themeColor }}">
