<div class="stream__row">
    <div class="stream__container">
        <div class="stream__content ">
            <h3>Streamline your production process today!</h3>
            <p>Take control of the production chaos. Save resources and get back to the creative.</p>
            <button class="stream__button"><a href="#price">Get started for free</a></button>
        </div>
    </div>
</div>