<div class="price__row" id="price">
    <div class="price__container">
        <h3>Pricing & Plans</h3>
        <div class="price__content">
            <div class="price__cards">
                <div class="price__cards_card">
                    <h2>Free</h2>
                    <p>$ <span>0</span>/mo</p>
                    <p class="hide"></p>
                    <div class="price__first-card">
                        <ul>
                            <li class=""><img src="images/icon/1.svg" alt=""> 1 project</li>
                            <li><img src="images/icon/inactive/2.svg" alt=""> Download PDF</li>
                            <li><img src="images/icon/inactive/3.svg" alt=""> Unlimited collaborators</li>
                            <li><img src="images/icon/inactive/4.svg" alt=""> Custom branding</li>
                        </ul>
                    </div>
                    <button class="price__button_standart"><a href="https://app.mastershot.io/auth/login">Try free</a></button>
                </div>
                <div class="price__cards_card">
                    <h2 class="pro">Pro</h2>
                    <p>$ <span>10.99</span>/mo</p>
                    <p class="save">save $ 48$ a year</p>
                    <div class="price__first-card">
                        <ul class="price__second-text">
                            <li class=""><img src="images/icon/blue/1.svg" alt=""> Unlimited projects</li>
                            <li><img src="images/icon/blue/2.svg" alt=""> Download PDF</li>
                            <li><img src="images/icon/blue/3.svg" alt=""> Unlimited collaborators</li>
                            <li><img src="images/icon/blue/4.svg" alt=""> Custom branding</li>
                        </ul>
                    </div>
                    <button class="price__button_blue"><a href="https://app.mastershot.io/auth/login">Buy</a></button>
                </div>
                <div class="price__cards_card">
                    <h2>Indie</h2>
                    <p>$ <span>5.99</span>/mo</p>
                    <p class="save_inactive">save $ 48$ a year</p>
                    <div class="price__first-card">
                        <ul class="price__third-text">
                            <li class=""><img src="images/icon/1.svg" alt=""> 1 project</li>
                            <li><img src="images/icon/2.svg" alt=""> Download PDF</li>
                            <li><img src="images/icon/inactive/3.svg" alt=""> Unlimited collaborators</li>
                            <li><img src="images/icon/inactive/4.svg" alt=""> Custom branding</li>
                        </ul>
                    </div>
                    <button class="price__button_standart"><a href="https://app.mastershot.io/auth/login">Buy</a></button>
                </div>
            </div>
        </div>
    </div>
</div>