<div class="solution__row">
    <div class="solution__content">
        <div class="solution__background"></div>
        <h1 class="solution__title">Our solutions</h1>
        <div class="solution__block_first">
            <div class="solution__shot">
                <div class="solution__text-container">
                    <h3>shot list <span>&</span> storyboards</h3>
                    <ul>
                        <li>
                            <img src="images/Line.svg" alt="">
                            customizable shot list
                        </li>
                        <li><img src="images/Line.svg" alt=""> storyboard builder</li>
                        <li><img src="images/Line.svg" alt=""> crew sync</li>
                    </ul>
                </div>
                <div class="solution__photo-container">
                    <img src="images/solution1.png" alt="">
                </div>
            </div>
        </div>
        <div class="solution__bg-photo">
            <img src="images/bg.png" alt="">
        </div>
        <div class="solution__block_second">
            <div class="solution__shooting">
                <div class="solution__shooting_photo">
                    <img src="images/solution2.png" alt="">
                </div>
                <div class="solution__shooting_text">
                    <h3>shooting schedules</h3>
                    <ul>
                        <li><img src="images/Line.svg" alt=""> drag-and-drop</li>
                        <li><img src="images/Line.svg" alt=""> multi-day shooting</li>
                        <li><img src="images/Line.svg" alt=""> export to PDF</li>
                    </ul>
                </div>
            </div>
            <div class="solution__line">
                <div class="solution__line_first"><img src="images/shot1.png" alt=""></div>
                <div class="solution__line_second"><img src="images/shot2.png" alt=""></div>
            </div>
        </div>
    </div>
</div>